/vendor/
/web/core/
/web/modules/contrib/
/web/themes/contrib/
/web/profiles/contrib/
/web/libraries/
/web/sites/*/files/
/web/sites/*/settings.local.php
/web/sites/*/settings.ddev.php
/web/sites/*/settings.ddev.redis.php
/web/.htaccess
/web/robots.txt
/web/index.php
/web/update.php
/web/autoload.php
/web/web.config
/web/INSTALL.txt
/web/README.md
/web/example.gitignore
/web/sites/default/default.settings.php
/web/sites/default/default.services.yml
/web/sites/development.services.yml
/web/sites/example.settings.local.php
/web/sites/example.sites.php
/drush/Commands/contrib/
/var/*
!/var/.gitkeep
/config/sync/.htaccess
